{% macro menu_item(item) %}
    <li>
        <a href="{{ item.url }}" {% if(item['blank']) %}target="_blank"{% endif %}>{{ item.title }}</a>
        {% if(item['__children'] | length > 0) %}
            <ul>
                {% for children in item['__children'] %}
                    {{ _self.menu_item(children) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

<ul>
    {% for item in menu %}
        {{ _self.menu_item(item) }}
    {% endfor %}
</ul>